# Configuração do Servidor não mudar
PORT=3001

# RabbitMQ Configuration usa a porta padrão 5672
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672

# Groq Cloud API

GROQ_API_KEY=

# CORS vite por padrão usa a porta 5173 pos não definimos a variável VITE_
FRONTEND_URL=http://localhost:5173
